{{- define "title" }}
    {{- .Params.Title | default "归档" -}} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        <h2 class="single-title animate__animated animate__pulse animate__faster">
            {{- .Params.Title | default "所有归档" -}}
        </h2>
        {{- $pages := .Site.RegularPages -}}
        {{- if $pages -}}
            {{- $pages = $pages.GroupByDate "2006-01" -}}
            {{- $paginate := .Site.Params.section.paginate | default 20 -}}
            {{- $pages = $.Paginate $pages $paginate -}}
            {{- range $pages.PageGroups -}}
                <h3 class="group-title">{{ .Key }}</h3>
                {{- range .Pages -}}
                    <article class="archive-item">
                        <a href="{{ .RelPermalink }}" class="archive-item-link">
                            {{- .Title | emojify -}}
                        </a>
                        <span class="archive-item-date">
                            {{- $.Site.Params.section.dateFormat | default "01-02" | .Date.Format -}}
                        </span>
                    </article>
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
